@font-face {
    font-family: 'Catull';
    src: url('fonts/catull-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    .google-logo {
    font: 8em/2em Catull;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .25);
    }
    .google-logo>span {
    color: #133BC1;
    }
    .google-logo>span>span {
    color: #E33B21;
    }
    .google-logo>span>span>span {
    color: #E6B500;
    }
    .google-logo>span>span>span>span {
    color: #4BCE54;
    }
    .google-logo>span>span>span>span>span {
    color: #0048E3;
    }
    .google-logo>span>span>span>span>span>span {
    color: #E33B21;
    }
